.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #800000;
    border-radius: 25px;
  }
  .head{
    height: 50px;
    width: 400px;
    background-color: #00CED1;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: #0062cc;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
    color: #fff;
  }
  
  button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  #output {
    margin-top: 20px;
    max-width: 100%;
  }
  